doctype html
head
  title Test 
  meta(charset="utf-8")
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  link(rel="stylesheet" href="/public/styles.css")
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
body
  block content
